@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    overflow: auto;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 40px;
    margin-bottom: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: transparent;
}

.container-dark:hover::-webkit-scrollbar-thumb {
    background: #4A4A4A;
    border-radius: 20px;
    background: #999292;
}

.container-dark:hover::-webkit-scrollbar-corner {
    background: transparent;
}

.container-light {
    background: #fff;
}

.container-light:hover::-webkit-scrollbar-thumb {
    background: #cfcfcf;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.livechat::-webkit-scrollbar-track {
    margin-top: 10px;
}

.main {
    overflow: scroll;
}

.main::-webkit-scrollbar {
    width: 8px;
}

.main::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main::-webkit-scrollbar-thumb {
    background: transparent;
}

.main-dark:hover::-webkit-scrollbar-thumb {
    background: #4A4A4A;
    border-radius: 20px;
    background: #999292;
}

.main-dark:hover::-webkit-scrollbar-corner {
    background: transparent;
}



